<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              http://maven.apache.org/xsd/settings-1.0.0.xsd">
<!-- The github action will copy this file into the ~/,m2/settings.xml location. -->

  <servers>
    <!-- Server for OSSRH (OSS Repository Hosting) -->
    <server>
      <id>ossrh</id>
      <username>${ossrh.userName}</username>
      <password>${ossrh.password}</password>
    </server>
  </servers>

  <mirrors>
    <!-- Mirror configuration -->
    <mirror>
      <id>central</id>
      <mirrorOf>central</mirrorOf>
      <url>https://repo.maven.apache.org/maven2</url>
    </mirror>
  </mirrors>

</settings>