<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              http://maven.apache.org/xsd/settings-1.0.0.xsd">
<!-- The github action will copy this file into the ~/,m2/settings.xml location. -->

  <servers>
    <!-- Server for Maven Central Portal (central.sonatype.com) -->
    <server>
      <id>central</id>
      <username>${central.userName}</username>
      <password>${central.password}</password>
    </server>
  </servers>


</settings>
