<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation=
    "http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
     http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">
 
 
    <!--  HTTP configuration sample -->
    <http auto-config="true">
        <!-- ZK AU reqeust -->
        <intercept-url pattern="/zkau/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <!-- the login page -->
        <intercept-url pattern="/app/login.zul" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <!-- pages for anonymous access in an application -->
        <intercept-url pattern="/app/index.zul" access="ROLE_ADMIN" />
<!--          
        <intercept-url pattern="/articleContent.zul" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <intercept-url pattern="/**" access="ROLE_USER" />
-->         
        <form-login login-page="/app/login.zul"
            authentication-failure-url="/app/login.zul?login_error=1"
            login-processing-url="/j_spring_security_check"/>
             
        <logout logout-success-url="/app/login.zul" invalidate-session="true" />
    </http>   
 
    <!-- omit inactive configurations -->
 
    <authentication-manager>
        <authentication-provider user-service-ref="perfmon4jUserConsoleLoginService">
            <password-encoder hash="md5" />
        </authentication-provider>
    </authentication-manager>
     
</beans:beans>